<!DOCTYPE html>
<html>

<body>
	<div style="width:800px; height:410px; margin:0px auto; background-image: url(http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/bg.png); border-radius: 10px; font-family: Microsoft JhengHei ">
		<a href="">
			</br>
			<div style="margin-left: 50px; margin-right: 50px; ">
			<h2>阿公的香水檸檬──從一顆檸檬看見友善土地的價值</h2>
			</div>
			<div style="text-align: center">
				<img style="width:700px;" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/11218901_969818003079885_4740449858505874150_n.png?oh=396f3e99efe192961949ce6f36928f89&oe=579DC10D">
	        </div>			
		</a>
		<div style="margin-left: 50px; margin-right: 50px;">
		</br>
			由阿公的孫子們組成的團隊，希望能藉由研發的檸檬系列商品，將阿公天然的檸檬分享給更多人，更期待可以因此讓大家在生活裡，更在意自己吃進身體的東西，用好的食物給身體美好的力量......
		<p style="float: right">
			<
			<a href="">了解更多</a>
			>
		</p>   
		</div>
	</div>
	</br>
	<div style="width:800px; height:440px; margin:0px auto; background-image: url(http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/bg.png); border-radius: 10px; font-family: Microsoft JhengHei; ">
		<a href="">
			</br>
			<div style="margin-left: 50px; margin-right: 50px;">
			<h2>果醬女孩──果醬和你想像的不一樣</h2>
			</div>
			<div style="text-align: center">
				<img style="width:700px;" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13235839_1448649168494334_452861147_n.png?oh=797c513c9465f54ca85ff81af8249397&oe=573D5260">
	        </div>			
		</a>
		<div style="margin-left: 50px; margin-right: 50px;">
		</br>
			一位20歲的小女生，來自熱情的台南，喜歡烹飪的沛蓉，在一次因緣際會下，接觸到了自己製作的手工果醬，意外品嘗到令人感動與驚喜的美味，就帶著與人分享的心情，開始販售，一段故事就這樣開始了......
		<p style="float: right">
			<
			<a href="">了解更多</a>
			>
		</p> 
		</div>
	</div>
	</br>
	<div style="width:800px; height:385px; margin:0px auto; background-image: url(http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/bg.png); border-radius: 10px;font-family: Microsoft JhengHei ;" >
		<a href="">
			</br>
			<div style="margin-left: 50px; margin-right: 50px;">
			<h2>卡維蘭──來自於拉拉山的水蜜桃團隊</h2>
			</div>
			<div style="text-align: center">
				<img style="width:700px; " src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13220112_1448644021828182_1643035697_n.png?oh=6347805ad8c8a42585d7c21e3e6c3da0&oe=573ECF9D">
	        </div>			
		</a>
		<div style="margin-left: 50px; margin-right: 50px;">
            </br>
            創辦人2014年從拉拉山上的高義國小退伍。在和村民相處的過程中發現了高義部落農民的問題，找到著力點後便找了一群志同道合的朋友，組成了「卡維蘭」團隊，幫助果農自產自銷水蜜桃......		
	    <p style="float: right">
			<
			<a href="">了解更多</a>
			>
		</p> 
		</div>
	</div>
	</br>
	<div style="width:800px; height:435px; margin:0px auto; background-image: url(http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/bg.png); border-radius: 10px; font-family: Microsoft JhengHei ;">
		<a href="">
			</br>
			<div style="margin-left: 50px; margin-right: 50px;">
			<h2>田玉軒──柳營小山村的忘憂果醬</h2>
			</div>
			<div style="text-align: center">
				<img style="width:700px;" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13245940_1448652115160706_1539561580_n.png?oh=9b1022abad58e0a6ee8f4531ed46bc4f&oe=573D8A5F">
	        </div>			
		</a>
		<div style="margin-left: 50px; margin-right: 50px;">
		</br>    
            男孩在東海大學畢業後，在台南柳營區生活環境純樸，感覺輕鬆愜意的山村─旭山村，希望能把果醬當作一個平台，彙集台灣各地達人種植的純淨水果，發揚出台灣水果的美好，而成立的一個天然手工果醬品牌......	
        <p style="float: right">
			<
			<a href="">了解更多</a>
			>
		</p> 
		</div>
	</div>
    </br>
</body>
</html>