
<body style="background-image: url(http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/bg.png)">
	<img style="margin-top: 0px">
	</br>
	</br>

	<div>
	<table style="font-family: Microsoft JhengHei ">
		<tr>
			<td>
				<img style="border-radius: 10px; width: 600px;"src="http://www.yooho.com.tw/images/201511/goods_img/1049_G_1447026142134.jpg">
			</td>
			<td>
				<h1 style="text-align: center">【唐婆醋】手工牛蒡醋（520ml）</h1>
				</br>

				<table>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>產地</b></td>	<td>苗栗</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>規格</b></td>	<td>520ml/瓶</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>包裝</b></td>	<td>玻璃瓶</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>保存期限</b></td>	<td>3年</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>保存方法</b></td>	<td>常溫，放置陰涼處</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>備註</b></td>	<td>手工釀造醋，若有沉澱純屬正常現象。</td>
					</tr>
					<tr>
						<td style="text-align: center; width: 250px; height: 30px"><b>商品售價</b></td>	<td>NT$600</td>
					</tr>
						
				</table>
				</br>

				<div style="text-align: center;">
					<button style="border-radius: 10px; height: 50px; width: 250px; margin-left: 50px; font-size: 20px; font-family: Microsoft JhengHei"><b>加入購物車</b></button>
					<button style="border-radius: 10px; height: 50px; width: 250px; margin-left: 50px; font-size: 20px; font-family: Microsoft JhengHei"><b>我要購買</b></button>
				</div>
				
				
				

			</td>
		</tr>
	</table>
	</div>
	<hr>
	<table style="font-family: Microsoft JhengHei ">
		<tr>
			<td style="width:600px">
				<h1>唐婆愛吃醋</h1>
				<img src="http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/tan.png" style="width:500px">
			</td>
			<td style="width: 550px;">
				<h1 style="margin-left: 70px; margin-top: 0px;">為什麼選擇唐婆醋？</h1>
				<p style="margin-left: 70px;">
					唐婆醋是以「二次發酵」菌釀轉化技術來釀造手工醋，使用的糙米及水果，均經發酵成為較小的分子，容易被人體吸收，兼具二者的養份及營養素。而一般的果醋多只是用基底醋（有些還是用合成醋）直接浸泡水果，二者之工法步驟、所需時間及品質成效均大不同！
				</p>

				<h1 style="margin-left: 70px;">好醋的功效</h1>
				<p style="width: 500px; ">
					<li style="margin-left: 70px;">調節血液的酸鹼平衡，維持弱鹼性，提高免疫力。</li>
					<li style="margin-left: 70px;">分解體內乳酸，消除疲勞、解酒。</li>
					<li style="margin-left: 70px;">刺激胃酸分泌，幫助消化。改善腸內環境，對便祕有效。</li>
					<li style="margin-left: 70px;">幫助食物中鈣質釋出，使人體容易吸收。</li>
					<li style="margin-left: 70px;">淨化血液，清除多餘膽固醇，有利降低血壓、預防心血管疾病。抑制尿酸增加，預防痛風。</li>
					<li style="margin-left: 70px;">增強肝臟機能、促進新陳代謝。分解過剩營養，預防肥胖。</li>
					<li style="margin-left: 70px;">保存食物中維他命C，可預防感冒、皮膚美白。</li>
					<li style="margin-left: 70px;">殺菌、消毒，是保健聖品。</li>
				</p>
			</td>
		</tr>
	</table>
	<hr>
	<h1 style="text-align: center; font-family: Microsoft JhengHei">
		每瓶醋都是自己的孩子──用愛心釀造的唐婆醋
	</h1>
	<div style="text-align: center">
		<img style="border-radius: 10px"src="http://www.seinsights.asia/sites/default/files/imagecache/node_main_img/upload/epaper/xiao_qi_tu_-07.jpg">
	</div>
	<div style="font-family: Microsoft JhengHei; width: 700px; margin:0px auto;">
		「醋的原始物料很重要，第一步就是友善整個社會自然環境。」唐婆醋的創始人唐婆──高沁余娓娓道出醋的故事。座落在三峽一片靜謐山林、宛如與世隔絕的白雞山莊中，唐鴉夫婦以天然的山泉水和嚴格把關的農產品為原料，親自釀製、等待發酵，歷經一整年的時間才得到一罐罐陳列在架上的「唐婆醋」，那是夫妻努力的結晶，也是兩人攜手貫徹的理念。
		<p style="float: right">
			<
			<a href="">認識唐婆醋</a>
			>
		</p>
	</div>

</body>