<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    </head>

    <body>
        <div class="productBig">
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13235839_1448649168494334_452861147_n.png?oh=797c513c9465f54ca85ff81af8249397&oe=573D5260" style="text-align:center; width:100%; height:auto;" /></div>
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13245940_1448652115160706_1539561580_n.png?oh=f07e47dfe2de0161a9c69ef2a3a44abd&oe=573E331F" style="text-align:center; width:100%; height:auto;" /></div>
            <div><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13250574_1448649281827656_129256144_n.png?oh=daf52351c391f280ed9c2d56b3d5a2c6&oe=573D301B" style="text-align:center; width:100%; height:auto;" /></div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.productBig').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                });
            });
        </script>
        
        <div id="css_table" style="display:table; margin-top:30px; width:100%;">
          <div class="css_tr" style="display: table-row;">
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13219948_1448658388493412_1331191213_n.png?oh=46afaf6a49c1c849a9a2434401a67597&oe=573D3E3A" style="width:95%;  height:220px;">
                  <p>龍眼花蜜</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13228014_1448658541826730_1250870183_n.png?oh=73b82d9a7e063c3acdd2b64658c3f572&oe=573D76B7" style="width:95%; height:220px;">
                  <p>綜合果乾</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13236320_1448653395160578_126456273_n.png?oh=728181437394762cfc8d5ec1a34a2aae&oe=573D079A" style="width:95%;  height:220px;">
                  <p>甜玉軒果醬</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13233408_1448658188493432_1388018009_n.png?oh=3f5b2bb00c8b7c19a35b36440dfb3cb6&oe=573D541F" style="width:95%;  height:220px;">
                  <p>阿公的香水檸檬</p>
                </a>
              </div>
          </div>
          
          <div class="css_tr" style="display: table-row;">
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13236320_1448653395160578_126456273_n.png?oh=728181437394762cfc8d5ec1a34a2aae&oe=573D079A" style="width:95%;  height:220px;">
                  <p>甜玉軒果醬</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13233408_1448658188493432_1388018009_n.png?oh=3f5b2bb00c8b7c19a35b36440dfb3cb6&oe=573D541F" style="width:95%;  height:220px;">
                  <p>阿公的香水檸檬</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13219948_1448658388493412_1331191213_n.png?oh=46afaf6a49c1c849a9a2434401a67597&oe=573D3E3A" style="width:95%;  height:220px;">
                  <p>龍眼花蜜</p>
                </a>
              </div>
              <div class="css_td" style="display: table-cell; width:25%;">
                <a href="">
                  <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t34.0-12/13228014_1448658541826730_1250870183_n.png?oh=73b82d9a7e063c3acdd2b64658c3f572&oe=573D76B7" style="width:95%; height:220px;">
                  <p>綜合果乾</p>
                </a>
              </div>
          </div>
        </div>
    </body>
</html>