<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13061916_1214384058574819_994569036004815320_n.jpg?oh=480c9a75a50938441bdf48064193da8b&oe=57A4C825" height="35"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="">瞧好物</a></li>
        <li><a href="">瞧好農</a></li>
        <li><a href="">橋友手冊</a></li>
        <li><a href="">小農橋的那些事</a></li>
        <li><a href="" >結帳囉</a></li>
        <li><a href="">我要當橋友</a></li>
        <li><a href="">我是橋友</a></li>
      </ul>
    </div>
  </div>
</nav>